Django==5.2.7
gunicorn==21.2.0
whitenoise==6.5.0
psycopg2-binary==2.9.7
dj-database-url==2.1.0
crispy-bootstrap5==0.7
django-crispy-forms==2.1
django-taggit==6.1.0
django-ckeditor-5==0.2.12
shortuuid==1.0.11
Pillow==10.0.0
pytz==2023.3